<div class="show-container">
  <img src="<%=recipe.img%>"></img>
  <h2><%=recipe.name%></h2>
  <h3><a href="<%=recipe.link%>">Link to Recipe</a></h3>
  <h3>Cook Time: <%=recipe.cookTime%> min</h3>
  <h3>Style: <%=recipe.type%></h3>
  <h3>Main Ingredient: <%=recipe.base%></h3>
  <h3>Genre: <%=recipe.genre%></h3>
  <h3>Comments: <%=recipe.comments%></h3>