<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title><%=recipe.name%></title>
  </head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
    <%- include ('../partials/showdiv.ejs') %>
    <a href="/recipes/vegetarian/<%=recipe.id%>/edit"><button class='edit-btn' >Edit Recipe</button></a>
</div>
  <footer>
    <%- include ('../partials/footer.ejs') %>
  </footer>
</body>
</html>