<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>Recipe Home</title>
  </head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <div class="edit-container">
    <form id="edit-recipe" action="/recipes/meat/<%=recipe._id%>?_method=PUT" method="POST">
      <label>Name:</label><input type="text" name="name" value="<%=recipe.name%>" /><br/>
      <label>Image:</label><input type="text" name="img" value="<%=recipe.img%>"/><br/>
      <label>Link:</label><input type="text" name="link" value="<%=recipe.link%>"/><br/>
      <label>Cook Time:</label><input type="number" name="cookTime" value="<%=recipe.cookTime%>"/><br/>
      <label>Style:</label><input type="text" name="style" value="<%=recipe.type%>"/><br/>
      <label>Main Ingredient:</label><input type="text" name="base" value="<%=recipe.base%>"/><br/>
      <label>Genre:</label><input type="text" name="genre" value="<%=recipe.genre%>"/><br/>
      <label>Comments:</label><input type="text" name="comments" value="<%=recipe.comments%>"/><br/>
      <input id="save-changes" type="submit" value="Save Changes"/>
    </form>
  </div>
</body>
</html>