<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>Recipe Home</title>
  </head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <h1 class="page-title">Hello World -- Let's Cook Some Meat!</h1>
  <div class="index-container">
    <a class="new-link" href="/recipes/meat/new"><button>Add Recipe</button></a>
    <% for (let i=0;i < recipe.length;i++) { %>
      <div class="recipe-container">
        <img src=<%=recipe[i].img%>></img>
        <a class="recipe-link" href="/recipes/meat/<%=recipe[i].id%>"><h4><%=recipe[i].name%></h4></a>
        <h5>Cook Time: <%=recipe[i].cookTime%> 
          <% if (recipe[i].cookTime <= 12) { %>
            hours
          <% } else { %>
            minutes
          <% } %>
        </h5>
      </div>
    <% } %>
  </div>
  <footer>
    <%- include ('../partials/footer.ejs') %>
  </footer>
</body>
</html>