<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>Recipe Home</title>
  </head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <div class="show-container">
    <img src="<%=recipe.img%>"></img>
    <h2><%=recipe.name%></h2>
    <h3><a href="<%=recipe.link%>">Link to Recipe</a></h3>
    <h3>Cook Time: <%=recipe.cookTime%> min</h3>
    <h3>Style: <%=recipe.type%></h3>
    <h3>Main Ingredient: <%=recipe.base%></h3>
    <h3>Genre: <%=recipe.genre%></h3>
    <h3>Comments: <%=recipe.comments%></h3>
  </div>
  <div>
    <a href="/recipes/meat/<%=recipe.id%>/edit"><button>Edit Recipe</button></a>
    <form action="/recipes/meat/<%=recipe.id%>?_method=DELETE" method="POST">
      <input id="delete" type="submit" value="Delete Recipe"/>
    </form>
  </div>
</body>
</html>