<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Recipe Home</title>
</head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <h1 class="page-title">Hello World -- Let's Cook some birds!</h1>
  <div class="index-container">
    <a class="new-link" href="/recipes/poultry/new"><button>Add Recipe</button></a>
    <% for (let i=0;i < recipe.length;i++) { %>
      <a class="recipe-link" href="/recipes/poultry/<%=recipe[i].id%>"><div class="recipe-container">
        <img src=<%=recipe[i].img%>></img>
        <h4><%=recipe[i].name%></h4>
        <h5><%=recipe[i].cookTime%> min</h5>
      </div></a>
    <% } %>
  </div>
</body>
</html>