<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Sean's Kitchen - Poultry Recipes</title>
</head>
<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <div class="title-div">
    <h1 class="page-title">Our Favorite Chicken and Turkey Recipes</h1>
  </div>
  <div class="index-container">
    <a class="new-link" href="/recipes/poultry/new"><button>Add Recipe</button></a>
    <% for (let i=0;i < recipe.length;i++) { %>
      <div class="recipe-container">
        <img src=<%=recipe[i].img%>></img>
        <a class="recipe-link" href="/recipes/poultry/<%=recipe[i].id%>"><h4><%=recipe[i].name%></h4></a>
        <h5>Cook Time: <%=recipe[i].cookTime%> min</h5>
      </div>
    <% } %>
  </div>
  <footer>
    <%- include ('../partials/footer.ejs') %>
  </footer>
</body>
</html>